{% load floppyforms %}
<legend>Vos droits universitaires s'élèvent à : {{ object.wish.droit_univ|floatformat:2 }} euros. <br>
            {% if object.wish.tarif_secu %} <legend>La sécurité sociale s'élève à  :
             {{ object.wish.tarif_secu }} euros.</legend>{%endif%}
                 </legend>
<div class="alert alert-info">
    <p>
    Pour l'ensemble des frais et droits, vous pouvez opter pour le paiement par carte bancaire en ligne, par virement ou par chèque.<br/>
Afin d'accélérer la prise en charge administrative de votre inscription, <strong><span class="text text-danger">nous vous invitons fortement à privilégier le mode de paiement par carte bancaire en ligne, ou le virement bancaire s'il ne s'agit pas
    d'un virement étranger</span></strong> (toujours très long à constater).

            </p>
            </div>
<div class="alert alert-danger">
    <strong>Attention :</strong><br>
    Ne confondez pas virement et prélèvement. Les prélèvements ne sont pas acceptés.
</div>
{% formrow form.moyen_paiement using 'floppyforms/rows/default.html'%}

