<p>Le paiement des droits d'inscription doit être obligatoirement joint au dossier d'inscription ;</p>
<p>
Le règlement doit être libellé en EUROS (compensables en FRANCE METROPOLITAINE)
</p>

<p>Le choix du mode de paiement des droits d'inscription au moment de l'inscription est définitif : par conséquent toute modification du mode de paiement a posteriori entraînera  le rejet de votre inscription ou son annulation
</p>

<div class="table_border">
    <div class="border_top">&nbsp;</div>
    <center><strong>Annulation d'inscription</strong></center>


<p>L'annulation de l'inscription est possible avant le 16 décembre de l’année universitaire en cours (<strong>délai de rigueur</strong>).Dans ce cas, vous devrez envoyer un courrier recommandé contenant la carte d'étudiant, le certificat de scolarité original et une copie d'une pièce d'identité (recto-verso pour la carte nationale d'identité), adressé à votre gestionnaire de scolarité. Si elle est accordée vous en serez notifié par un mail envoyé à votre adresse électronique.
</p><br>

<p><strong>Cette procédure est définitive.</strong></p>

<p>L'annulation d'inscription peut être prononcée par l'administration à la suite de la constatation d'un défaut de paiement (chèque sans provision, virement non effectué, ou montant insuffisant). Pour éviter cette annulation, il vous faudra régulariser votre situation dans les délais qui vous seront communiqués. En attendant la régularisation, votre accès à la plateforme et aux examens sera bloqué. Le défaut de régularisation vous expose de surcroît à des poursuites judiciaires, même après annulation, et il vous sera impossible de vous réinscrire les années ultérieures.</p><br>
<center><h3>Remboursement des droits d'inscription universitaires</h3></center>
<p>L'annulation d'inscription <strong>n'implique pas</strong> remboursement des droits d'inscription. Le remboursement peut être accordé, à condition que l'annulation d'inscription ait été accordée, dans un <strong>délai de 25 jours</strong> après enregistrement de votre inscription (qui vous sera notifié par un mail envoyé à votre adresse électronique) et <strong>antérieurement au 16 décembre</strong>.</p><br>

<p>Une retenue pour frais de gestion de 24 euros est systématiquement appliquée par l'université sur ce remboursement, en plus du contrôle médical de 5,10 euros.</p>

<p>Il vous faudra dans ce cas envoyer en courrier recommandé votre demande de remboursement adressée au <strong>pôle financier de l'IED</strong>, accompagnée d'un relevé d'identité bancaire, d'une copie d'une pièce d'identité (recto-verso pour la carte nationale d'identité) ainsi que le certificat de scolarité original. Ce courrier doit contenir obligatoirement une <strong>lettre motivant</strong> la demande de remboursement datée et signée par l'étudiant, accompagnée des justificatifs appuyant votre demande (certificat médical, inscription dans un autre établissement d'enseignement supérieur...).
    Au cas où le compte bancaire n'est pas celui de l'étudiant joindre impérativement à la demande une attestation datée et signée portant demande de reversement sur le compte de Mme ou M......, dont les coordonnées bancaires sont ......(indiquer la banque, son adresse postale, et le numéro IBAN complet du titulaire du compte).
    <br>Après avis du responsable de la scolarité, votre demande sera
transmise à l'agence comptable de l'université qui procèdera le cas échéant au remboursement des frais engagés.
</p><br>
<p><strong>Dans tous les cas, la régularité de la demande de remboursement est appréciée souverainement par l'agent comptable de l’Université, sur proposition de l'IED.</strong></p><br>

</div>