<div>
<center><h4>Demande d'annulation d'inscription</h4></center>


<p>L'annulation de l'inscription est possible avant le <strong>15 décembre </strong>de l’année universitaire en cours <strong>(délai de rigueur)</strong>.  Cette procédure est définitive.</p>

<p>Pour effectuer votre demande d'annulation, il vous faudra envoyer un courrier recommandé à votre gestionnaire de scolarité de l'IED (coordonnées sur le site de l'IED)
    <strong>par lettre motivée, datée et signée accompagnée obligatoirement des pièces suivantes :</strong></p>



<div class="checkbox">
    <label>
      <input type="checkbox"> Carte d'étudiant
    </label>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Certificat de scolarité cartonné original
    </label>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Copie de la carte d’identité (recto-verso)
    </label>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Justificatif/s sur lequel/s votre demande est fondée : certificat médical, inscription dans un autre établissement d'enseignement supérieur…
    </label>
</div>


<p>En l'absence de tout ou partie des pièces ci-dessus listées, votre demande d'annulation sera rejetée.</p>

<p>Si l'annulation de l'inscription universitaire est accordée vous en serez notifié/e par un mail envoyé à votre adresse électronique.</p>

    <br/>
<h4><center>Remboursement des droits d'inscription universitaires et des frais d'enseignement à distance</center></h4><br/>
    
<p>L'annulation d'inscription <strong>n'implique pas</strong> remboursement des droits d'inscription ni des frais d'enseignement à distance .
</p>
<p><strong>Le remboursement pourra être accordé seulement si :</strong>
</p>
    <ul>
        <li>l'annulation a été accordée</li>
        <li>l'accès aux cours n'a pas commencé (date d'ouverture de la formation).</li>
    </ul>


<p>Seulement si vous êtes dans cette situation, joignez à votre demande un :</p>
<div class="checkbox">
    <label>
      <input type="checkbox"> Relevé d'identité bancaire à votre nom.
    </label>
</div>


<p>Le cas échéant, votre demande sera transmise à l'agence comptable de l'université qui procédera au remboursement des frais engagés.</p>

<p>Une retenue pour frais de gestion de <strong>23</strong> euros est systématiquement appliquée par l'université sur le remboursement des droits universitaires,
    en plus du contrôle médical de <strong>5,10</strong> euros.
</p>
    
<p>Nota bene : Le remboursement de la cotisation de sécurité sociale se fait auprès du centre payeur.
</p>
<strong>    
<p>Dans tous les cas, la régularité de la demande de remboursement est appréciée souverainement par l'agent comptable de l’Université, sur proposition de l'IED.
</p>
<p>Le remboursement sera effectué le cas échéant trois à six mois après l'annulation de votre inscription administrative.
</p></strong>
</div>