{% include 'duck_inscription_payzen/entete_formulaire_paiement.html' %}
{% load lib_inscription %}
<center>
<h3><b>FORMULAIRE DE PAIEMENT </b>{% annee_en_cour %}</h3>
<h3>Droits universitaires (et sécurité sociale étudiante)</h3>
</center>
<div class="row">
    <div class="col-xs-4"><b>DIPLÔME PRÉPARÉ : </b></div>
    <div class="col-xs-8">{{ wish.etape.label }}</div>
</div>
<div class="row">
    <div class="col-xs-4"><b>ETUDIANT :</b></div>
    <div class="col-xs-8">{{ individu.last_name }} {{ individu.common_name }} {{ individu.first_name1 }}
            {{ individu.first_name2 }}
            {{ individu.first_name3 }}
            {{ individu.code_opi }}</div>
</div>

<hr>
<p>Votre dossier d'inscription doit <strong>obligatoirement</strong> contenir <b>tous</b> les paiements ou les preuves de ces paiements, sans quoi il ne sera pas traité.
</p>
<hr/>
<table class="table table-bordered">
    <tr>
        <td class="first gauche droite padding"><b>Tarif</b></td>
        <td class="first gauche droite padding"><b>Mode de paiement</b></td>
        <td class="first gauche droite padding"><b>Mise à l'encaissement</b></td>
    </tr>
    <tr>
        <td class="gauche first droite">
            <b>Tarif pour les droits
            universitaires</b> : {{ wish.droit_univ|floatformat:-2 }} euros <br/>
            <b>Tarif pour les droits de
                        sécurité sociale étudiante</b> : {{ wish.tarif_secu|floatformat:-2}} euros

        </td>
        <td class="gauche first droite padding">{{ paiement.moyen_paiement }}<br></td>
        <td class="gauche first droite padding">{% if paiement.moyen_paiement.type != 'V' %}
            Avant le 31 décembre 2015
        {% else %}
            Au moment de l'inscription
        {% endif %} <br></td>
    </tr>
    <tr>
        <td colspan="3"><center>TOTAL A PAYER : {{ wish.droit_total|floatformat:-2 }} euros</center></td>
    </tr>
</table>
<div class="row">
    <div class="col-xs-4"><i>Le {% now "d/m/Y" %}</i></div>
    <div class="col-xs-8">Signature de l'étudiant :</div>
</div>
<div class="alert alert-warning">
{% if paiement.moyen_paiement.type != 'V' %}
<br>
    <br>


Seuls<br>

--les chèques ordinaires<br>
--les chèques de banque<br>

sont acceptés.<br>
   Les chèques étrangers ne sont pas acceptés par l'IED.<br>

Le traitement des chèques étant automatisé vous veillerez tout particulièrement à renseigner et de manière très lisible, sans rature, surcharge ou grattage , les ordre, date, signature, prix concordants en chiffres et lettres.
    <br/>

--Vous devez libeller votre chèque à l'ordre de : <strong>IED Université Paris 8.</strong>

    <br>

    Au dos du chèque veuillez reporter les informations suivantes :<b>
    IED Etudiant {{ paiement.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} 0

</b>

{% else %}
    <br>
    <div>Important : <br/>

    Vous devez joindre imperativement à votre dossier d'inscription le justificatif du virement effectué pour paiement de la totalité  des droits universitaires sous peine
    rejet de votre dossier.<br/>
<br/>
--La somme est à virer sur le compte bancaire de l'IED Université Paris 8.<br/>

--Vous veillerez obligatoirement à faire enregistrer par votre banque l'intitulé de virement suivant :
<strong>IED Etudiant {{ paiement.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} 0</strong><br/>

--Les frais de commission bancaire et interbancaire requis le cas échéant pour la réalisation du virement sont à votre charge<br/>

--Veillez à prévoir le versement de la somme exacte due sous peine de vous voir opposer un refus d'inscription. </div> 
{% endif %}
</div>
<hr>
 <center><h4>CONDITIONS GÉNÉRALES DE PAIEMENT</h4>
</center>
<p><b>Le paiement des droits doit être obligatoirement joint au dossier d'inscription.</b></p>
<p>
Tous les règlements doivent être libellés en EUROS (compensables en FRANCE METROPOLITAINE).
</p>
<p><strong>En cas de non respect des modalités de paiement</strong> (chèque sans provision, opposition sur cheque, virement non effectué, paiement incomplet),
    l'étudiant se verra suspendu dans sa qualité et ne pourra plus bénéficier des prestations de l'IED (plateforme, examens).
    Toute échéance impayée entraînera, outre des poursuites judiciaires, l'annulation  de vos résultats pédagogiques et de votre couverture sociale.
</p>
{% include 'duck_inscription_payzen/condition_paiement.html' %}
</div>
</body>
</html>

