{% include 'duck_inscription_payzen/entete_formulaire_paiement.html' %}
{% load lib_inscription %}
<center>
<h3><b>FORMULAIRE DE PAIEMENT</b> {% annee_en_cour %}</h3>
<h3>Frais propres à l’enseignement à distance</h3>
</center>
<div class="row">
    <div class="col-xs-4"><b>DIPLÔME PRÉPARÉ : </b></div>
    <div class="col-xs-8">{{ wish.etape.label }}</div>
</div>
<div class="row">
    <div class="col-xs-4"><b>ETUDIANT :</b></div>
    <div class="col-xs-8">{{ individu.last_name }} {{ individu.common_name }} {{ individu.first_name1 }}
            {{ individu.first_name2 }}
            {{ individu.first_name3 }}
            {{ individu.code_opi }}</div>
</div>
<br/>
<p>Votre dossier d'inscription doit <strong>obligatoirement</strong> contenir <b>tous</b> les paiements ou les preuves de ces paiements, sans quoi il ne sera pas traité.
</p>
<br/>
<table class="table table-bordered">
    <tr>
        <td class="first gauche droite padding"><b>Versement des frais d'enseignement à distance</b></td>
        <td class="first gauche droite padding"><b>Mode de paiement</b></td>
        <td class="first gauche droite padding"><b>Mise à l'encaissement</b></td>
    </tr>
    <tr>
        <td>{{ paiement.echeancier_frais_peda|floatformat:-2 }} euros</td>
        <td>{{ paiement.moyen_paiement }}</td>
        <td>
            {% if paiement.moyen_paiement.type == 'V' %}
                Lors de l'inscription
            {% else %}
                Encaissement à compter du 01/12/2015
            {% endif %}
        </td>
    </tr>
    {% if  paiement.nb_paiement_frais > 1 %}
    <tr>
        <td>{{ paiement.echeancier_frais_peda|floatformat:-2 }} euros</td>
        <td>{{ paiement.moyen_paiement }}</td>
        <td>
            {% if paiement.moyen_paiement.type == 'V' %}
                Le 2 novembre 2015
            {% else %}
                Encaissement à compter du 17/01/2016
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if  paiement.nb_paiement_frais > 2 %}
    <tr>
        <td>{{ paiement.echeancier_frais_peda|floatformat:-2 }} euros</td>
        <td>{{ paiement.moyen_paiement }}</td>
        <td>
            {% if paiement.moyen_paiement.type == 'V' %}
               Le 2 janvier 2016
            {% else %}
                Encaissement à compter du 15/02/2016
            {% endif %}
        </td>
    </tr>
    {% endif %}

<tr>
        <td  colspan="3"> <center>TOTAL A PAYER :
            {{ wish.frais_peda|floatformat:-2  }} euros</center></td>
    </tr>
</table>

<div class="row">
    <div class="col-xs-4"><i>Le {% now "d/m/Y" %}</i></div>
    <div class="col-xs-8">Signature de l'étudiant :</div>
</div>
<br/><br/>
<div class="alert alert-warning">
{% if paiement.moyen_paiement.type != 'V' %}
    <br>
    <div>
        Vous devez libeller votre chèque à l'ordre de : <b>{{ label|default:"IED Université Paris 8 " }}</b>.
    </div>
        <br>

    {% for nb in paiement.range_paiement %}
        <div>

            Au dos du chèque pour le versement numéro {{ paiement|add:1}} veuillez écrire :<b>
            IED {{ paiement.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} {{ nb|add:1}}
        </b>
        </div>
    {% endfor %}
{% else %}
    <br>
    <div>
    vous voudrez bien programmer le virement unique, ou premier virement en cas de pluralité de virements, pour acquittement des droits propres à l'enseignement à distance, à partir du 04 septembre 2014
        <br/>
    Vous veillerez obligatoirement à faire enregistrer par votre banque le ou les intitulé/s de virement suivant : <br/>
    {% for nb in paiement.range_paiement %}
        <div>

            pour le versement numéro {{ paiement|add:1}} :<b>
            IED {{ paiement.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} {{ nb|add:1}}
        </b>
        </div>
    {% endfor %}
        <br/>
    {% if paiement.nb_paiement_frais == 1 %}
        Vous devez impérativement joindre au dossier une preuve de l'émission de ce virement (extrait de compte, relevé d'opération...). Attention, les frais de virement sont à votre charge. Veillez à prévoir le versement de la somme exacte due à l'université sous peine de vous voir opposer un refus d'inscription.
    {% else %}
        Vous devez impérativement joindre au dossier une preuve de l'émission du premier virement (extrait de compte, relevé d'opération...) et, pour le ou les virements suivants, une preuve des demandes de virement (récépissé d'ordres de virement) effectuées auprès de votre banque. <strong>Tous ces éléments doivent obligatoirement être joints à votre dossier dès son envoi.</strong> Attention, les frais de virement sont à votre charge. Veillez à prévoir le versement de la somme exacte due à l'université sous peine de vous voir opposer un refus d'inscription.
    {% endif %} <br>
Nota Bene : ne confondez pas virements et prélèvements ; les prélèvements ne sont pas acceptés.
    </div>
    <div>
    --Les frais de commission bancaire et interbancaire requis le cas échéant pour la réalisation du virement sont à votre charge
        <br/>
    --Veillez à prévoir le versement de la somme exacte due sous peine de vous voir opposer un refus d'inscription. 
    </div> 
{% endif %}
</div>
<hr>

 <center><h4>CONDITIONS GÉNÉRALES DE PAIEMENT</h4>
</center>
<p>
Tous les règlements doivent être libellés en EUROS (compensables en FRANCE METROPOLITAINE).
</p>
<p><strong>En cas de non respect des modalités de paiement</strong> (chèque sans provision, virement non effectué, paiement incomplet),
    l'étudiant se verra suspendu dans sa qualité et ne pourra plus bénéficier des prestations de l'IED (plateforme, examens).
    Toute échéance impayée entraînera, outre des poursuites judiciaires, l'annulation de votre inscription, de vos résultats pédagogiques et de votre couverture sociale.
</p>

{% include 'duck_inscription_payzen/condition_paiement.html' %}
</div>
</body>
</html>

