{% include 'duck_inscription/wish/include/entete_formulaire_paiement.html' %}
{% load lib_inscription %}
<center>
<h1><b>FORMULAIRE DE PAIEMENT</b> {% annee_en_cour %}</h1>
<h1>Frais propres à l’enseignement à distance</h1>
</center>
<table>
    <tr>
        <td><b>DIPLÔME PRÉPARÉ : </b></td>
        <td>{{ wish.etape.label }}</td>
    </tr>
    <tr>
        <td><b>ETUDIANT : </b></td>
        <td>{{ individu.last_name }} {{ individu.common_name }} {{ individu.first_name1 }}
            {{ individu.first_name2 }}
            {{ individu.first_name3 }}
            {{ individu.code_opi }}</td>
    </tr>
</table>
<p>Votre dossier d'inscription doit <strong>obligatoirement</strong> contenir <b>tous</b> les paiements ou les preuves de ces paiements, sans quoi il ne sera pas traité.
</p>

<table>
    <tr>
        <td class="first gauche droite padding"><b>Versement des frais d'enseignement à distance</b></td>
        <td class="first gauche droite padding"><b>Tarif</b></td>
        <td class="first gauche droite padding"><b>Mode de paiement</b></td>
        <td class="first gauche droite padding"><b>Mise à l'encaissement</b></td>
    </tr>
    {% with paiements=paiement_frais %}
    {% for paiement, date in paiements.range %}
    <tr>
        <td class="gauche first droite padding">Versement {{ forloop.counter }}</td>
        <td class="gauche first droite padding">{{ tarif_versement_frais|floatformat:-2 }} euros</td>
        <td class="gauche first droite padding">{{ paiements.moyen_paiement }}</td>
        <td class="gauche first droite padding">{{ date }}</td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>
<table class="not_magin padding"><tr>
        <td class="first gauche droite last"> <center>TOTAL A PAYER :
            {{ wish.frais_peda|floatformat:-2  }} euros</center></td>
    </tr>
</table>

    <table>
        <tr>
            <td class="padding"><i>Le {% now "d/m/Y" %}<br />
                Signature de l'étudiant :</i>
            </td>
            {% if paiement_droit_frais.0.autre_payeur %}
                <td class="padding"><i>Signature du payeur :</i></td>
            {% endif %}
        </tr>
    </table>
{% if paiement_frais.moyen_paiement.type != 'v' %}
    <br>
    <div>
        Vous devez libeller votre chèque à l'ordre de : <b>{{ label|default:"IED Université Paris 8 " }}</b>.
    </div>
        <br>

    {% with paiements=paiement_frais %}
    {% for paiement, date in paiements.range %}
        <div>

            Au dos du chèque pour le versement numéro {{ paiement|add:1}} veuillez écrire :<b>
            IED {{ paiement_droit.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} {{ paiement|add:1}}
        </b>
        </div>
    {% endfor %}
    {% endwith %}
{% else %}
    <br>
    <div>
    vous voudrez bien programmer le virement unique, ou premier virement en cas de pluralité de virements, pour acquittement des droits propres à l'enseignement à distance, à partir du 04 septembre 2014
        <br/>
    Vous veillerez obligatoirement à faire enregistrer par votre banque le ou les intitulé/s de virement suivant : <br/>
        {% with paiements=paiement_frais %}
    {% for paiement, date in paiements.range %}
        <div>

            pour le versement numéro {{ paiement|add:1}} :<b>
            IED {{ paiement_droit.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} {{ paiement|add:1}}
        </b>
        </div>
    {% endfor %}
    {% endwith %}
        <br/>
    {% if paiement_frais.nb_paiement_frais == 1 %}
        Vous devez impérativement joindre au dossier une preuve de l'émission de ce virement (extrait de compte, relevé d'opération...). Attention, les frais de virement sont à votre charge. Veillez à prévoir le versement de la somme exacte due à l'université sous peine de vous voir opposer un refus d'inscription.
    {% else %}
        Vous devez impérativement joindre au dossier une preuve de l'émission du premier virement (extrait de compte, relevé d'opération...) et, pour le ou les virements suivants, une preuve des demandes de virement (récépissé d'ordres de virement) effectuées auprès de votre banque. <strong>Tous ces éléments doivent obligatoirement être joints à votre dossier dès son envoi.</strong> Attention, les frais de virement sont à votre charge. Veillez à prévoir le versement de la somme exacte due à l'université sous peine de vous voir opposer un refus d'inscription.
    {% endif %} <br>
Nota Bene : ne confondez pas virements et prélèvements ; les prélèvements ne sont pas acceptés.
    </div>
    <div>
    --Les frais de commission bancaire et interbancaire requis le cas échéant pour la réalisation du virement sont à votre charge
        <br/>
    --Veillez à prévoir le versement de la somme exacte due sous peine de vous voir opposer un refus d'inscription. 
    </div> 
{% endif %}
<hr>

 <center><h1>CONDITIONS GÉNÉRALES DE PAIEMENT</h1>
</center><p>Important :</p>
<p>
Tous les règlements doivent être libellés en EUROS (compensables en FRANCE METROPOLITAINE).
</p>
<p><strong>En cas de non respect des modalités de paiement</strong> (chèque sans provision, virement non effectué, paiement incomplet),
    l'étudiant se verra suspendu dans sa qualité et ne pourra plus bénéficier des prestations de l'IED (plateforme, examens).
    Toute échéance impayée entraînera, outre des poursuites judiciaires, l'annulation de votre inscription, de vos résultats pédagogiques et de votre couverture sociale.
</p>

<pdf:nextpage />
<div class="table_border">
    <div class="border_top">&nbsp;</div>
<center><strong>Remboursement des frais d'enseignement à distance</strong></center>

<p>Le remboursement des frais d'enseignement à distance peut être accordé, à condition que l'annulation d'inscription ait déjà été accordée, dans <strong>un délai de 30 jours</strong> après enregistrement de votre inscription (qui vous sera notifié par un mail envoyé à votre adresse électronique) et <strong>antérieurement au 16 décembre</strong>.
</p>
    <br>
<p>Dans ce cas, il vous faudra restituer l'ensemble des éléments qui vous ont été fournis, en particulier les manuels pour les diplômes de psychologie et la licence d'informatique, dans leur état initial. Sans cette restitution, la demande de remboursement ne sera pas traitée. L'envoi de ces éléments sera à votre charge.
</p><br>
<p>Pour cela, il vous faudra envoyer votre demande de remboursement par courrier recommandé adressé au <strong>pôle financier de l'IED</strong>, avec un relevé d'identité bancaire, une copie de pièce d'identité (recto-verso pour la carte nationale d'identité), la copie du certificat de scolarité (si vous avez été inscrit/e) et une lettre motivant la demande accompagnée des justificatifs appropriés.
</p><br>
<p>Après traitement par l'IED, votre demande sera transmise à l'agence comptable de l'université qui procèdera le cas échéant au remboursement des frais engagés, dans un délai de deux à six mois après l’annulation administrative de votre inscription.
</p><br>

    <p><strong>Dans tous les cas, la régularité de la demande de remboursement est appréciée souverainement par l'agent
        comptable de l’Université sur proposition de l'IED.</strong></p>
    <div class="border_bottom">&nbsp;</div>
</div>
</body>
</html>

