{% include 'duck_inscription_payzen/entete_formulaire_paiement.html' %}
{% load lib_inscription %}
{#<center>#}
<center>
<h3><b>FORMULAIRE DE PAIEMENT </b>{% annee_en_cour %}</h3>
<h3>Droits universitaires (et sécurité sociale étudiante) et frais d'enseignement à distance</h3>
</center>
<div class="row">
    <div class="col-xs-4"><b>DIPLÔME PRÉPARÉ : </b></div>
    <div class="col-xs-8">{{ wish.etape.label }}</div>
</div>
<div class="row">
    <div class="col-xs-4"><b>ETUDIANT :</b></div>
    <div class="col-xs-8">{{ individu.last_name }} {{ individu.common_name }} {{ individu.first_name1 }}
            {{ individu.first_name2 }}
            {{ individu.first_name3 }}
            {{ individu.code_opi }}</div>
</div>

<hr>


<table class="table table-bordered">
    <tr>
        <td class="first gauche droite padding"><b>Tarif</b></td>
        <td class="first gauche droite padding"><b>Mode de paiement</b></td>
    </tr>
    <tr>
        <td class="gauche first droite">
            <b>Tarif pour les droits
            universitaires</b> : {{ paiement.wish.droit_univ|floatformat:-2 }} euros <br/>
            <b>Tarif pour les droits de <br/>
                        sécurité sociale étudiante</b> : {{ paiement.wish.tarif_secu|floatformat:-2}} euros <br/>
            <b>Tarif des frais d'enseignements à distance : {{ paiement.wish.frais_peda|floatformat:-2 }} euros</b>


        </td>
        <td class="gauche first droite padding">{{ paiement.moyen_paiement }}<br></td>

    </tr>
    <tr>
        <td colspan="3"><center>TOTAL A PAYER : {{ paiement.total_euro|floatformat:-2 }} euros</center></td>
    </tr>
</table>
<table class="table table-bordered">
    <caption>Echéancier</caption>
    <tr><td>Montant</td><td>Date</td></tr>
    {% for eche in paiement.echeancier %}
    <tr><td>{{ eche.1|floatformat:-2 }} euros</td><td>{{ eche.0 }}</td></tr>
    {% endfor %}

</table>

<div class="row">
    <div class="col-xs-4"><i>Le {% now "d/m/Y" %}</i></div>
    <div class="col-xs-8">Signature de l'étudiant :</div>
</div>
<br/><br/>
<hr>

 <center><h4>CONDITIONS GÉNÉRALES DE PAIEMENT</h4>
</center>

<p><strong>Si votre compte n'est pas suffisamment approvisionné au moment des échéances prévues,
    vous serez suspendu dans votre qualité d'étudiant et ne pourrez plus bénéficier des prestations de l'IED (plateforme, examens).
    Toute échéance impayée entraîne, outre des poursuites judiciaires, l'annulation de vos résultats pédagogiques et de votre couverture sociale. </strong>
</p>
<br/>

{% include 'duck_inscription_payzen/condition_paiement.html' %}

</div>
</body>
</html>

