{% include 'duck_inscription/wish/include/entete_formulaire_paiement.html' %}
{% load lib_inscription %}
<center>
<h1><b>FORMULAIRE DE PAIEMENT </b>{% annee_en_cour %}</h1>
<h1>Droits universitaires (et sécurité sociale étudiante)</h1>
</center>


<table>
	<tr>
		<td><b>DIPLÔME PRÉPARÉ : </b></td>
        <td>{{ wish.etape.label }}</td>
	</tr>
    <tr>
		<td><b>ETUDIANT : </b></td>
        <td>{{ individu.last_name }} {{ individu.common_name }} {{ individu.first_name1 }}
            {{ individu.first_name2 }}
            {{ individu.first_name3 }}
            {{ individu.code_opi }}</td>
	</tr>
{% if paiement_droit.autre_payeur %}
    <tr>
		<td><b>PAYEUR :</b></td>
        <td>{{ paiement_droit.autre_payeur }}</td>
	</tr>
{% endif %}
</table>
<hr>
<p>Votre dossier d'inscription doit <strong>obligatoirement</strong> contenir <b>tous</b> les paiements ou les preuves de ces paiements, sans quoi il ne sera pas traité.
</p>
<table>
    <tr>
        <td class="first gauche droite padding"><b>Tarif pour les droits
            universitaires</b></td>
        <td class="first gauche droite padding"><b>Mode de paiement</b></td>
        <td class="first gauche droite padding"><b>Mise à l'encaissement</b></td>
    </tr>
    <tr>
        <td class="gauche first droite">
            <table>
                <tr>
                    <td class="first padding">{{ wish.droit_univ|floatformat:-2 }} euros</td>
                </tr>
                <tr>
                    <td class="first padding"><b>Tarif pour les droits de
                        sécurité sociale étudiante</b></td>
                </tr>
                <tr>
                    <td class="first padding">{{ wish.tarif_secu|floatformat:-2}} euros</td>
                </tr>
            </table>
        </td>
        <td class="gauche first droite padding">{{ paiement_frais.moyen_paiement }}<br></td>
        <td class="gauche first droite padding">au moment de l'inscription<br></td>
    </tr>
</table>
<table class="not_magin padding"><tr>
        <td class="first gauche droite last"> <center>TOTAL A PAYER : {{ wish.droit_total|floatformat:-2 }} euros</center></td>
    </tr></table>
<table>
    <tr>
        <td class="padding"><i>Le {% now "d/m/Y" %}<br />
            Signature de l'étudiant :</i>
        </td>
    </tr>
</table>
{% if paiement_frais.moyen_paiement.type != 'v' %}
<br>
    <br>

<div>
Important : <br/>
le traitement des chèques étant automatisé vous veillerez tout particulièrement à renseigner et de manière très lisible, sans rature, surcharge ou grattage , les ordre, date, signature, prix concordants en chiffres et lettres.
    <br/>

--Vous devez libeller votre chèque à l'ordre de : <strong>IED Université Paris 8.</strong>

    <br>

    Au dos du chèque veuillez reporter les informations suivantes :<b>
    IED Etudiant {{ paiement_droit.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} 0

</b>
</div>
{% else %}
    <br>
    <div>Important : <br/>

vous voudrez bien programmer le virement pour acquittement des droits d'inscription universitaires à partir du <strong>04 septembre 2014.</strong><br/>
<br/>
--La somme est à virer sur le compte bancaire de l'IED Université Paris 8.<br/>

--Vous devez impérativement joindre le récépissé d'ordre de virement établi et tamponné par votre banque. <br/>

--Vous veillerez obligatoirement à faire enregistrer par votre banque l'intitulé de virement suivant :
IED Etudiant {{ paiement_droit.wish.etape.cod_etp }} {{ individu.code_opi }} {{ individu.last_name }} 0<br/>

--Les frais de commission bancaire et interbancaire requis le cas échéant pour la réalisation du virement sont à votre charge<br/>

--Veillez à prévoir le versement de la somme exacte due sous peine de vous voir opposer un refus d'inscription. </div> 
{% endif %}
<hr>

<center><h1>CONDITIONS DE PAIEMENT</h1>
</center>
<p><b>Le paiement des droits doit être obligatoirement joint au dossier d'inscription ;</b></p>
{% include 'duck_inscription/wish/include/condition_paiement.html' %}
</body>
</html>

